EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='MY EMAIL PASSWORD'
EMAIL_USE_TLS=True
EMAIL_PORT=NUMBER_PORT
EMAIL_HOST=smtp.gmail.com


DB_NAME=DATABASE_NAME
DB_USER=DATABASE_USER_NAME
DB_PASSWORD=DATABASE_PASSWORD
DB_HOST=DATABASE_HOST_ADDRESS
DB_PORT=DATABASE_PORT