{% extends "base.html" %}
{% load static %}

{% block metas %}
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="">
{% endblock %}

{% block title%}
	Galeria de Imagens
{% endblock%}

{% block content %}

	<!-- Breadcrumbs -->
	<div class="breadcrumbs overlay" style="background-image: url('assets/geral/img/plestra2.jpg');">
		<div class="container">
			<div class="bread-inner">
				<div class="row">
					<div class="col-12">
						<h2>Cerimónia de Formatura</h2>
						<ul class="bread-list">
							<!-- <li><a href="index.html">Home</a></li> -->
							<!-- <li><i class="icofont-simple-right"></i></li> -->
							<!-- <li class="active">Portfolio Details</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Start Portfolio Details Area -->
	<section class="pf-details section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="inner-content">
						<div class="image-slider">
							<div class="pf-details-slider">
								<img src="assets/geral/img/formatura-na-ordem.jpg" alt="#">
								<img src="assets/geral/img/formatura-na-ordem2.png" alt="#">
								<img src="assets/geral/img/palestra.jpg" alt="#">
							</div>
						</div>
						<div class="date">
							<ul>
								<li><span>Local :</span> Anfitiatro da Ordem</li>
								<li><span>Date :</span> 1996</li>
							</ul>
						</div>
						<div class="body-text">
							<h3>Minha Cerimónia</h3>
							<p>
								Lembro-me vividamente do ano de 1996, quando Henriqueta Maria Augusto de Sousa da Silva concluiu sua formação na Ordem dos Advogados de Angola. Foi um período marcante em sua trajetória, repleto de aprendizado e crescimento profissional. Sua dedicação incansável e paixão pelo Direito se destacaram durante esse período de formação na Ordem, e a experiência foi verdadeiramente enriquecedora</p>
							<p>
								A formação na Ordem dos Advogados representou um marco fundamental para Henriqueta, fornecendo-lhe uma base sólida para sua carreira jurídica. Ela mergulhou profundamente nos estudos, absorvendo conhecimentos teóricos e práticos que moldariam sua abordagem à advocacia. A troca de ideias com colegas, a orientação de professores renomados e a imersão nos princípios éticos da profissão foram elementos cruciais que contribuíram para o seu amadurecimento como advogada.
							 </p>
							<p>
								A cerimônia de formatura foi um momento emocionante e memorável para Henriqueta. Foi uma celebração da perseverança e do comprometimento ao alcançar um marco significativo em sua jornada profissional. A atmosfera estava impregnada de orgulho e realizações, com colegas, familiares e mentores reunidos para testemunhar esse momento especial. A solenidade não apenas simbolizou o fim de uma fase de estudos, mas também o início de uma promissora carreira na advocacia.
							</p>
							<div class="share">
								<h4>Partilhar Artigo -</h4>
								<ul>
									<li>
										<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter" aria-hidden="true"></i></a>
										</li>
									<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Details Area -->

	{% endblock %}